<div class="container w-50">

  <div class="container p-2 mt-3 mb-3 text-center">
    <h1>Demande de réservation</h1>
  </div>

  <div class="container bg-white p-4 mb-3 d-flex flex-column flex-md-row card shadow border-0 rounded-lg" style="border-radius: 32px; min-height: 275px;">
    <div class="w-100 w-md-50 mb-3 mb-md-0">
      <h3 class="mb-4">Votre partenaire</h3>
      <div class="d-flex align-items-start">
        <div>
          <%= image_tag @booking.partner.image, alt: "Le Wagon", class: "img-fluid", style: "border-radius: 16px; max-width: 150px;" %>
        </div>
        <div class="ms-4">
          <div>
            <strong><%= @booking.partner.title %></strong>
          </div>
          <div>
            <%= @booking.partner.description %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container bg-white p-4 card shadow border-0 rounded-lg" style="border-radius: 32px; min-height: 250px;">
    <div class="mb-4">
      <h3 class="mb-4">Vos détails de réservation</h3>
      <p><strong>Date de début:</strong> <%= @booking.start_date %></p>
      <p><strong>Date de fin:</strong> <%= @booking.end_date %></p>
      <p>
        <strong>Prix total:</strong> <%= @booking.partner.price %>€ x
        <%= (@booking.end_date - @booking.start_date).to_i %> jours =
        <strong> <%= @booking.partner.price.to_i * (@booking.end_date - @booking.start_date) %>€ </strong>
      </p>
      <p><strong>Statut:</strong><%= @booking.status %></p>
    </div>
  </div>

</div>
