<div class="container w-50">

  <div class="container p-2 mt-3 mb-3 text-center">
    <h1>Demande de réservation</h1>
  </div>

  <div class="container bg-white p-4 mb-4 d-flex flex-column flex-md-row card shadow border-0 rounded-lg" style="border-radius: 32px; height: 275px;">
    <div class="w-100 w-md-50 mb-3 mb-md-0">
      <h3 class="mb-4"><%= @booking.partner.title %></h3>
      <div class="d-flex align-items-start">
        <div>
          <%= image_tag @booking.partner.image, alt: "Le Wagon", class: "img-fluid shadow", style: "border-radius: 16px; width: 150px; height: 150px; object-fit: cover;" %>
        </div>
        <div class="ms-4">
          <div>
            <strong>Demandeur : </strong><%= @booking.user.first_name %> <%= @booking.user.last_name %>
          </div>
          <div>
            <strong>Message de la réservation:</strong>
          </div>
          <div style="width: 450px">
            <%= @booking.message %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container bg-white p-4 card shadow border-0 rounded-lg" style="border-radius: 32px; height: 250px;">
    <div class="mb-4">
      <h3 class="mb-4">Vos détails de réservation</h3>
      <p><strong>Date de début:</strong> <%= @booking.start_date %></p>
      <p><strong>Date de fin:</strong> <%= @booking.end_date %></p>
      <p>
        <strong>Prix total:</strong> <%= @booking.partner.price %>€ x
        <%= (@booking.end_date - @booking.start_date).to_i %> jours =
        <strong> <%= (@booking.partner.price * (@booking.end_date - @booking.start_date)).to_i %>€ </strong>
      </p>
      <% if @booking.status == "accepted" %>
          <p><strong>Statut: </strong><span class="accepted_alert ">Accepté</span></p>
        <% elsif @booking.status == "denied" %>
          <p><strong>Statut: </strong><span class="denied_alert">Refusé</span></p>
        <% else %>
          <p><strong>Statut: </strong><span class="pending_alert">En attente</span></p>
      <% end %>
    </div>
  </div>

</div>
