<div class="container w-50 mt-4 p-4 text-center">
<h1>Demande de réservation</h1>
</div>



<div class="container w-50 bg-white p-4 mt-4 d-flex card shadow border-0 rounded-lg" style="border-radius: 32px; height: 300px">
  <h3 class="p-2 m-3">Votre partenaire</h3>
  <div class="d-flex align-items-center">
    <div>
      <%= image_tag @booking.partner.image, alt: "Le Wagon", width: 200, style: "border-radius: 16px;" %>
    </div>

    <div>
      <div class="p-2 ms-2">
        <strong><%= @booking.partner.title %></strong>
      </div>
      <div class="p-2 ms-2">
        <%= @booking.partner.description %>
      </div>
    </div>
  </div>
</div>


<div class="container w-50 bg-white p-4 mt-4 d-flex card shadow border-0 rounded-lg" style="border-radius: 32px; height: 300px">
  <h3 class="p-2 m-3">Vos détails de réservation</h3>
  <div>

    <div class="p-2 m-3">
      <p><strong>Date de début:</strong> <%= @booking.start_date %></p>
      <p><strong>Date de fin:</strong> <%= @booking.end_date %></p>
      <p><strong>Prix total:</strong> <%= @booking.partner.price %>€ x <%= (@booking.end_date - @booking.start_date).to_i %> jours = <strong> <%= @booking.partner.price * (@booking.end_date - @booking.start_date) %>€ </strong></p>
      <p><strong>Statut:</strong> <%= @booking.status %></p>
    </div>

  </div>
</div>
