<h3 class="m-2">Bienvenue <%= current_user.first_name %> !</h3>

<div class="dashboard container">

  <div class="row gap-3 d-flex flex-nowrap">

    <div class="col-4 bg-white p-4 mt-2 d-flex align-items-start flex-md-row card shadow border-0 rounded-lg" style="border-radius: 32px; height: 300px">
      <div class="w-100 w-md-50 mb-3 mb-md-0">
        <h3 class="mb-3">Mon profil</h3>
        <div class="d-flex justify-content-center align-items-center">
          <div>
            <img src="https://i.pinimg.com/736x/e8/8c/e4/e88ce419faafe799afcd09a7c8d5acf8.jpg" alt="Second Slide" width = 100 height = 100 class="rounded-circle">
          </div>
          <div class="ms-4">
            <p class="mb-2"><strong>Nom : </strong><%= current_user.first_name %> <%= current_user.last_name %></p>
            <p class="mb-2"><strong>Adresse : </strong><%= current_user.address %>, <%= current_user.additional_address %><%= current_user.zip_code %>, <%= current_user.city %></p>
            <p class="mb-2"><strong>E-mail: </strong><%= current_user.email %></p>
            <p class="mb-2"><strong>Téléphone : </strong><%= current_user.phone_number %></p>
          </div>
        </div>
        <div class="d-flex justify-content-center mt-3">
        <p class="btn btn-dashboard shadow-sm rounded-pill px-3" style="background-color: #997af4; color: white;">Modifier mon profil</p>
        </div>
      </div>
    </div>

    <div class="col-4 bg-white p-4 mt-2 d-flex align-items-start flex-md-row card shadow border-0 rounded-lg" style="border-radius: 32px; height: 300px; background: linear-gradient(#d3c3ff, #d2b3ff);">

      <div class="w-100 w-md-50 mb-3 mb-md-0">
        <div class="d-flex align-items-center justify-content-between ">
          <div><h3 class="mb-2">Mes Partners</h3></div>

          <div><%= link_to "Créer", new_partner_path(@partner),
                   class: "btn btn-dashboard shadow-sm rounded-pill px-3",
                   style: "background-color: #997af4; color: white;"%></div>
        </div>


        <div class="my-3">
          <div class="scrollable-div pe-3" style="max-height: 200px; overflow-y: scroll;">
          <% @partners.each do |partner| %>
              <div class="d-flex align-items-center justify-content-between mb-3">
                <div class=""><strong><%= link_to partner.title, partner_path(partner), style: "color: black; font-family: Archivo, sans-serif;" %></strong></div>
                <div>
                  <%= link_to "Modifier", edit_partner_path(partner),
                  class: "btn btn-dashboard shadow-sm rounded-pill px-4",
                  style: "background-color: #997af4; color: white;" %>
                  <%= link_to "Supprimer", partner_path(partner),
                  class: "btn btn-dashboard shadow-sm rounded-pill px-4",
                  style: "background-color: #0d0c22; color: white;",
                  data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
                </div>
              </div>
            <% end %>
          </div>

        </div>

      </div>

    </div>

    <div class="col-4 bg-white p-4 mt-2 d-flex card shadow border-0 rounded-lg" style="border-radius: 32px; height: 300px; background: linear-gradient(#d3c3ff, #d2b3ff);">

    <h3 class="w-100 w-md-50 mb-3 mb-md-0">Mes demandes de réservation</h3>

    <div class="my-3">
          <div class="scrollable-div pe-3" style="max-height: 200px; overflow-y: scroll;">
          <% @pending_bookings.each do |booking| %>
              <div class="d-flex align-items-center justify-content-between mt-2">
                <div class="me-3 mt-2"><strong><%= link_to booking.partner.title, partner_booking_path(booking.partner, booking), class: "access-show", style: "color: black; font-family: Archivo, sans-serif;" %></strong></div>
                <div>
                  <%= link_to "Accepter", accept_partner_booking_path(booking.partner, booking),
                  data: { turbo_method: :patch },
                  class: "btn btn-dashboard shadow-sm rounded-pill px-4",
                  style: "background-color: #997af4; color: white;" %>
                  <%= link_to "Refuser", decline_partner_booking_path(booking.partner, booking),
                  data: { turbo_method: :patch },
                  class: "btn btn-dashboard shadow-sm rounded-pill px-4",
                  style: "background-color: #0d0c22; color: white;" %>
                </div>
              </div>
            <% end %>
          </div>

        </div>

    </div>

  </div>

  <div class="row gap-3 d-flex flex-nowrap">

    <div class="col-7 bg-white p-4 mt-3 d-flex card shadow border-0 rounded-lg" style="border-radius: 32px; height: 350px;">
  <h3 class="w-100 w-md-50 mb-3 mb-md-0">Mon historique de bookings</h3>

  <div class="my-3">
    <div class="scrollable-div pe-3" style="height: 250px; overflow-y: scroll; padding-top: 10px; margin-bottom: 16px;">
      <% @booking_requests.each do |booking| %>
        <div class="d-flex mb-3">
          <div class="flex-grow-1 mx-3" style="width: 100px; text-align: left; font-family: Archivo Black, sans-serif, font-weight: 200, font-style: normal;">
            <strong>
              <%= link_to booking.partner.title, partner_booking_path(booking.partner, booking), class: "access-show", style: "color: black; font-family: Archivo, sans-serif;" %>
            </strong>
          </div>
          <div class="text-start mx-3" style="width: 100px; text-align: left; font-family: Archivo, sans-serif;">
            <% if booking.start_date.month == booking.end_date.month %>
              <%= "#{booking.start_date.strftime('%d')}-#{booking.end_date.strftime('%d %b')}" %>
            <% else %>
              <%= "#{booking.start_date.strftime('%d-%b')} - #{booking.end_date.strftime('%d-%b')}" %>
            <% end %>
          </div>
          <div class="text-start mx-3" style="width: 100px; text-align: left; font-family: Archivo, sans-serif;">
            Total: <strong><%= (booking.partner.price * (booking.end_date - booking.start_date)).to_i %>€</strong>
          </div>
          <div class="text-end ms-2" style="width: 150px; text-align: left;">
            <% if booking.status == "accepted" %>
              <p><span class="accepted_alert">Accepté</span></p>
            <% elsif booking.status == "denied" %>
              <p><span class="denied_alert">Refusé</span></p>
            <% else %>
              <p><span class="pending_alert">En attente</span></p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


    <div class="col-5 bg-white p-4 mt-3 d-flex card shadow border-0 rounded-lg" style="border-radius: 32px; height: 350px; background: linear-gradient(#d3c3ff, #d2b3ff);">

    <h3 class="w-100 w-md-50 mb-3 mb-md-0">Mon historique Partners</h3>

    <div class="my-4">
      <div class="scrollable-div pe-3" style="max-height: 250px; overflow-y: scroll;">
      <% @accepted_bookings.each do |booking| %>
          <div class="d-flex align-items-start justify-content-between mb-3">
            <div class="me-3"><strong><%= link_to booking.partner.title, partner_booking_path(booking.partner, booking), class: "access-show", style: "color: black; font-family: Archivo, sans-serif;" %></strong></div>
            <div style="font-family: Archivo, sans-serif;">
              <% if booking.start_date.month == booking.end_date.month %>
                <%= "#{booking.start_date.strftime('%d')}-#{booking.end_date.strftime('%d %b')}" %>
              <% else %>
                <%= "#{booking.start_date.strftime('%d-%b')}-#{booking.end_date.strftime('%d-%b')}" %>
              <% end %></div>
            <div style="font-family: Archivo, sans-serif;"> Total: <strong><%= (booking.partner.price * (booking.end_date - booking.start_date)).to_i %>€</strong></div>
          </div>
        <% end %>
      </div>
    </div>

    </div>

  </div>

</div>
