<div class="container">

  <div class="row gap-3 d-flex flex-nowrap">

    <div class="col-4 bg-white p-4 mt-4 d-flex align-items-center flex-md-row card shadow border-0 rounded-lg" style="border-radius: 32px; height: 300px">
      <div class="w-100 w-md-50 mb-3 mb-md-0">
        <h3 class="mb-4">Votre profil</h3>
        <div class="d-flex justify-content-center align-items-center">
          <div>
            <img src="https://i.pinimg.com/474x/af/3f/c0/af3fc09e6998549d9902f8ff13d093aa.jpg" alt="Second Slide" width = 100 height = 100 class="rounded-circle">
          </div>
          <div class="ms-4">
            <p class="mb-2"><strong>Nom : </strong><%= current_user.first_name %> <%= current_user.last_name %></p>
            <p class="mb-2"><strong>Adresse : </strong><%= current_user.address %>, <%= current_user.additional_address %><%= current_user.zip_code %>, <%= current_user.city %></p>
            <p class="mb-2"><strong>E-mail: </strong><%= current_user.email %></p>
            <p class="mb-2"><strong>Téléphone : </strong><%= current_user.phone_number %></p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-4 bg-white p-4 mt-4 d-flex align-items-start flex-md-row card shadow border-0 rounded-lg" style="border-radius: 32px; height: 300px">

      <div class="w-100 w-md-50 mb-3 mb-md-0">
        <div class="d-flex align-items-center justify-content-between ">
          <div><h3 class="mb-2">Mes profils partenaires</h3></div>

          <div><%= link_to "Créer", new_partner_path(@partner),
                   class: "btn shadow-sm rounded-pill px-3",
                   style: "background-color: #B197FC; color: white;"%></div>
        </div>


        <div class="my-3">
          <div class="scrollable-div pe-3" style="max-height: 200px; overflow-y: scroll;">
          <% @partners.each do |partner| %>
              <div class="d-flex align-items-center justify-content-between mb-3">
                <div class=""><strong><%= link_to partner.title, partner_path(partner), style: "color: black" %></strong></div>
                  <div class="">
                    <%= link_to "Modifier", edit_partner_path(partner),
                    class: "me-4 fw-bold",
                    style: "color:  #B197FC;" %>
                    <%= link_to "X", partner_path(partner),
                    class: "",
                    style: "color: #0d0c22;",
                    data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
                  </div>
              </div>
            <% end %>
          </div>

        </div>

      </div>

    </div>

    <div class="col-4 bg-white p-4 mt-4 d-flex align-items-center card shadow border-0 rounded-lg" style="border-radius: 32px; height: 300px">

    <h3 class="w-100 w-md-50 mb-3 mb-md-0">Mes demandes de booking</h3>

    <div class="my-3">
          <div class="scrollable-div pe-3" style="max-height: 200px; overflow-y: scroll;">
          <% @pending_bookings.each do |booking| %>
              <div class="d-flex align-items-center justify-content-between mb-3">
                <div class="me-3"><strong><%= link_to booking.partner.title, partner_booking_path(booking.partner, booking), class: "access-show", style: "color: black" %></strong></div>
                <div>
                  <%= link_to "Accepter", accept_partner_booking_path(booking.partner, booking),
                  data: { turbo_method: :patch },
                  class: "btn shadow-sm rounded-pill px-4",
                  style: "background-color: #B197FC; color: white;" %>
                  <%= link_to "Refuser", decline_partner_booking_path(booking.partner, booking),
                  data: { turbo_method: :patch },
                  class: "btn shadow-sm rounded-pill px-4",
                  style: "background-color: #0d0c22; color: white;" %>
                </div>
              </div>
            <% end %>
          </div>

        </div>

    </div>

  </div>

  <div class="row gap-3 d-flex flex-nowrap">

    <div class="col-6 bg-white p-4 mt-4 d-flex align-items-center card shadow border-0 rounded-lg" style="border-radius: 32px; height: 350px">

    </div>

    <div class="col-6 bg-white p-4 mt-4 d-flex align-items-center card shadow border-0 rounded-lg" style="border-radius: 32px; height: 350px">

    </div>

  </div>

</div>
