<div class="container">

  <div class="row gap-3 d-flex flex-nowrap">

    <div class="col-4 bg-white p-4 mt-4 d-flex align-items-center flex-md-row card shadow border-0 rounded-lg" style="border-radius: 32px; height: 300px">
      <div class="w-100 w-md-50 mb-3 mb-md-0">
        <h3 class="mb-4">Votre profil</h3>
        <div class="d-flex justify-content-center align-items-center">
          <div>
            <img src="https://i.pinimg.com/474x/af/3f/c0/af3fc09e6998549d9902f8ff13d093aa.jpg" alt="Second Slide" width = 100 height = 100 class="rounded-circle">
          </div>
          <div class="ms-4">
            <p class="mb-2"><strong>Nom : </strong><%= current_user.first_name %> <%= current_user.last_name %></p>
            <p class="mb-2"><strong>Adresse : </strong><%= current_user.address %>, <%= current_user.additional_address %><%= current_user.zip_code %>, <%= current_user.city %></p>
            <p class="mb-2"><strong>E-mail: </strong><%= current_user.email %></p>
            <p class="mb-2"><strong>Téléphone : </strong><%= current_user.phone_number %></p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-4 bg-white p-4 mt-4 d-flex align-items-start flex-md-row card shadow border-0 rounded-lg" style="border-radius: 32px; height: 300px">

      <div class="w-100 w-md-50 mb-3 mb-md-0">
        <h3 class="mb-4">Mes profils partenaires</h3>

        <div class="mt-3">
          <% @partners.each do |partner| %>
          <div class="d-flex align-items-center justify-content-between">
            <div class=""><%= partner.title %></div>
            <div class=""><%= link_to "Modifier", edit_partner_path(partner),
                              class: "btn shadow-sm rounded-pill px-3",
                              style: "background-color: #B197FC; color: white;"%>
                              <%= link_to "Supprimer", partners_path(partner),
                              class: "btn shadow-sm rounded-pill px-3",
                              style: "background-color: #B197FC; color: white;",
                              data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
            </div>
          </div>
          <% end %>
        </div>

      </div>



      </div>

    <div class="col-4 bg-white p-4 mt-4 d-flex align-items-center card shadow border-0 rounded-lg" style="border-radius: 32px; height: 300px">

    </div>

  </div>

  <div class="row gap-3 d-flex flex-nowrap">

    <div class="col-6 bg-white p-4 mt-4 d-flex align-items-center card shadow border-0 rounded-lg" style="border-radius: 32px; height: 350px">

    </div>

    <div class="col-6 bg-white p-4 mt-4 d-flex align-items-center card shadow border-0 rounded-lg" style="border-radius: 32px; height: 350px">

    </div>

  </div>

</div>
